* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  gap: 90px;
  align-items: center;
}
.header {
  display: ruby;
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.section {
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 52px;
}
.srec {
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.blockquote {
  display: flex;
  flex-direction: column;
  width: 600px;
  border: 2px solid #000000;
  border-radius: 2px;
  border-style: dotted;
}
.blockquote:hover {
  border-style: inset;
}
.qoutation {
  font-style: italic;
  display: flex;
  flex-direction: column;
  padding: 17px;
  margin-left: -17px;
  width: 600px;
  border-left: 3px solid #000000;
  border-radius: 2px;
}
ol {
  counter-reset: section;
  list-style-type: none;
}
li::before {
  counter-increment: section;
  content: counters(section, ".") " ";
}
.list {
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sublist {
  padding: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.desc {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.4);
}
a {
  color: rgba(0, 0, 0, 0.7);
}
a :visited {
  color: black;
}
img {
  width: 1020px;
}
